Cython

AksharaJaana==0.1.9.9
attrs==21.4.0
backcall==0.2.0
backports.zoneinfo==0.2.1
blis==0.7.5
boto3==1.20.29
botocore==1.23.29
catalogue==2.0.6
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
cmake==3.21.2
contextvars==2.4
cycler==0.10.0
cymem==2.0.6

dataclasses==0.8
dateparser==1.1.0
decorator
distro==1.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
entrypoints==0.3
filelock==3.4.1
Flask==2.0.2
gensim==4.1.2
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.10.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.4.0
hyperframe==5.2.0
idna==2.10
imageio==2.9.0
immutables==0.16
importlib-metadata==4.8.2
importlib-resources==5.4.0
ipykernel==5.5.6
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jupyter-client==7.1.0
jupyter-core==4.9.1
kiwisolver==1.3.1
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.3.4
minio==7.1.2
murmurhash==1.0.6
nest-asyncio==1.5.4
networkx==2.5.1
number-parser==0.2.1
numpy==1.19.5
opencv-python==4.5.3.56
packaging==21.0
pandas==1.1.5
parso==0.7.1
pathy==0.6.1
pdf2image==1.13.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pkg_resources==0.0.0
preshed==3.0.6
prompt-toolkit==3.0.23
ptyprocess==0.7.0
pydantic==1.8.2
pyenchant==3.2.2
Pygments==2.10.0
pyparsing==2.4.7
pyspellchecker==0.6.2
pytesseract==0.3.8
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
rfc3986==1.5.0
s3transfer==0.5.0
sacremoses==0.0.47
scikit-build==0.12.0
scikit-fuzzy==0.4.2
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
seaborn==0.11.2
seqeval==1.2.2
six==1.16.0
smart-open==5.2.1
sniffio==1.2.0
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
textblob==0.17.1
thinc==8.0.13
threadpoolctl==3.1.0
tifffile==2020.9.3
tokenizers==0.11.4
torch==1.10.1
torchvision==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==4.3.3
transformers==4.16.2
typer==0.4.0
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
wasabi==0.9.0
wcwidth==0.2.5
Werkzeug==2.0.2
zipp==3.6.0
